.bk{
   background-color: rgb(7, 6, 1); 
}

.bk-an:hover{
    background-color: rgba(7, 6, 1, 0.8); 
}

.bkw{
    background-color: rgb(7, 6, 0.3); 
 }
 
 .bkw-an:hover{
     background-color: rgba(7, 6, 1, 0.3); 
 }

.gy{
    background-color: rgb(41, 34, 30);
}

.gy-an{
    background-color: rgba(41, 34, 30, 0.8);
}

.rd{
    background-color: rgb(238, 28, 37);
}

.rd-an{
    background-color: rgba(238, 28, 37, 0.8);
}

.rd-bk{
    background: linear-gradient(to bottom, rgb(238, 28, 37) 75%, rgb(7, 6, 1) 25%);
}

.red-btn{
    color: rgba(238, 28, 37, 0.7) !important;
    font-style: normal;
}

.red-btn-h:hover{
    color: black !important;
}

.rd-gy{
    background: linear-gradient(to bottom, rgb(238, 28, 37) 75%, rgb(41, 34, 30) 25%);
}

.bk-rd{
    background: linear-gradient(to bottom, rgb(7, 6, 1) 85%, rgb(238, 28, 37) 15%);
}

.bk-gy{
    background: linear-gradient(to bottom, rgb(7, 6, 1) 75%, rgb(41, 34, 30) 25%);
}

.wt{
    background-color: rgb(255, 245, 236);
}

.wt-an{
    background-color: rgba(255, 245, 236, 0.8);
}

.shine{
    animation: shine 10s infinite;
    animation-play-state: running; 
}

.presentation{
    z-index: 10;
}

@keyframes shine{
    0%{
        background-color: rgb(255, 245, 236) !important;
    }
    100%{
        background-color: rgba(255, 245, 236, 0.5) !important;
    }
}

*{
    font-family: 'Raleway';
    color: rgb(7, 6, 1) !important;
}

